@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F9F3EB, #E6D7C3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(212, 180, 180, 0.589);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A6391E;
    text-align: center;
    text-shadow: 1px 1px 2px #862e18ad;
}

h2 {
    color: #127E8C;
}

p {
    text-align: justify;
}